{% extends "base.html" %}


{% block content %}
<div class="container mt-3">

    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="student_folder_path" class="form-label">Student Folder Path</label>
            <input type="text" class="form-control" id="student_folder_path" placeholder="Provide Folder Path"
                name="student_folder">
        </div>
        <div class="mb-3">
            <label for="excel_file" class="form-label">Select the Excel File Sheet</label>
            <div>
                <input type="file" name="excel_file" id="excel_file"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            </div>
        </div>



        <button type="submit" class="btn btn-info">Execute</button>

    </form>
</div>
{% endblock content %}