{% extends "base.html" %}


{% block content %}
<div class="container mt-3">

    <form method="post">
        <div class="mb-3">
            <label for="student_folder_path" class="form-label">Student Folder Path</label>
            <input type="text" class="form-control" id="student_folder_path" placeholder="Provide Folder Path"
                name="student_folder">
        </div>
        <div class="mb-3">
            <label for="excel_file_path" class="form-label">Excel File Path</label>
            <input type="text" class="form-control" id="excel_file_path"
                placeholder="Provide File Path of Excel Template file" name="excel_file">
        </div>

        <div class="mb-3">
            <label for="sheet_name" class="form-label">Sheet Name</label>
            <input type="text" class="form-control" id="sheet_name"
                placeholder="Provide the sheet name where you want to add the student name and student ID" name="sheet_name" value="Grading Sheet">
        </div>

        <div class="mb-3">
            <label for="name_cell_value" class="form-label">Student Name Cell value</label>
            <input type="text" class="form-control" id="name_cell_value"
                placeholder="Provide the cell value of student name from excel sheet like: (C7, B4)" name="name_cell_value">
        </div>

        
        <div class="mb-3">
            <label for="id_cell_value" class="form-label">Student ID Cell Value</label>
            <input type="text" class="form-control" id="id_cell_value"
                placeholder="Provide the cell value of student ID field from excel sheet like(C6,C7 etc)" name="id_cell_value">
        </div>

        <button type="submit" class="btn btn-info">Execute</button>

    </form>
</div>
{% endblock content %}