<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Excel Automater</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        .nav-item a,
        .container-fluid a {
            color: coral !important;
            font-weight: 700;
        }

        .flashes {
            width: fit-content;
        }

        label {
            font-weight: bold;
        }

        input {
            font-weight: bold !important;
        }

        input::placeholder {
            font-weight: 100 !important;
        }

        label {
            font-size: 1.2rem;
            font-weight: 500;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">IIC RTE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-4" href="{{ url_for('add_excel_sheet') }}">Insert Excel Sheet</a>
                    </li>

                    <li class="nav-item ml-4">
                        <a class="nav-link" href="{{ url_for('reconcile_marks') }}">Marks Reconciler</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>



    <!-- Bootstrap toaster start -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide bg-danger text-white" role="alert" aria-live="assertive"
            aria-atomic="true" data-bs-delay="10000">
            <div class="toast-header d-flex items-">
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
    <!-- Bootstrap toaster end -->




    <!-- html for loader modal -->
    <div class="modal fade" id="loaderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column">
                    <h5 class="modal-title mt-2">Processing...</h5>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>

    <!-- end of loader modal -->



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column">
                    <h6 class="font-weight-bold">Completion Percentage: <span id="percent"
                            style="color:coral">0</span><span style="color:coral">%</span></h6>
                    <h5 class="modal-title mt-2" id="exampleModalLongTitle">Displaying the students Info: </h5>

                </div>

                <div class="modal-body text-center">
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- end of modal -->



    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes mt-3 p-0">
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <!-- end of  html code for dismissable alert  -->






    {% if error %}
    <p class="error text-danger"><strong>Error:</strong> {{ error }}</p>
    {% endif %}



    {% block content%}{% endblock content%}

    <script>
        // javascript for the modal controlling
        var source = new EventSource("{{ url_for('sse.stream') }}");

        source.addEventListener('activateModal', function (event) {
            console.log("inside the flask ssh")
            let status = JSON.parse(event.data);
            if (status.message == 'true') {
                console.log("inside true condition")
                $('#myModal').modal('show')
            }
        });
        let modalHead = document.querySelector(".modal-body")
        source.addEventListener('showInfo', function (event) {
            let ww = modalHead.firstElementChild
            let studentvalue = JSON.parse(event.data)
            console.log("studentvalue", studentvalue.name)
            ww.innerText = ""
            ww.innerText = studentvalue.name
        });
        let percentTag = document.querySelector("#percent")
        source.addEventListener('showPercent', function (event) {
            let percentValue = JSON.parse(event.data)
            console.log("percentValue", percentValue.percentage)
            percentTag.innerText = percentValue.percentage

        });

        // code for diaplying the loader

        source.addEventListener("activateLoader", function (event) {
            let data = JSON.parse(event.data)
            if (data.message == "loading") {
                let modalLoader = document.getElementById("#loaderModal")
                console.log("main modal", document.querySelector("#myModal"))
                $("#loaderModal").modal("show")

            }

        })


    </script>


    <!-- javascript for form dynamism starts  -->
    <script>
        let parentContaier = document.querySelector("#keyvals")
        let all_divs = parentContaier.getElementsByClassName('key-vals-wrapper')
        console.log("alldivs", all_divs)

        function create_new_div(length) {


            return `
            <div class="col-4">
                <input type="text" class="form-control" placeholder="" name="key${length + 1}">
            </div>

            <div class="col-4">
                <input type="text" class="form-control" placeholder="" name="value${length + 1}">

            </div>

          <span class="mt-2 d-flex col-2 gap-3">
              <i class="fa-sharp fa-solid fa-plus" onclick="addField()"></i>
              <i class="fa-solid fa-xmark ml-3" onclick="removeFiled()"></i> 
            </span>

      `
        }

        function create_span_element(oneLeft) {
            if (oneLeft) {
                return `<span class="mt-2 d-flex col-2 gap-3">
              <i class="fa-sharp fa-solid fa-plus" onclick="addField()"></i>
              </span>
      `
            }
            else {
                return `<span class="mt-2 d-flex col-2 gap-3 icons">
              <i class="fa-sharp fa-solid fa-plus" onclick="addField()"></i>
              <i class="fa-solid fa-xmark ml-3" onclick="removeFiled()"></i> 
              </span>
      `
            }
        }


        // logic of function that adds the element
        function addField() {
            let all_divs = parentContaier.getElementsByClassName('key-vals-wrapper')
            // remove the span element from the before adding a new one
            let last_element = all_divs[all_divs.length - 1]
            let span_tag = last_element.getElementsByTagName('span')[0]
            span_tag.remove()
            console.log("last_element", last_element)
            let new_element = document.createElement("div")
            new_element.classList.add("key-vals-wrapper", "row","mt-3")
            new_element.innerHTML = create_new_div(all_divs.length)
            parentContaier.appendChild(new_element)

        }
        // logic of function that adds the element

        function removeFiled() {
            let all_divs = parentContaier.getElementsByClassName('key-vals-wrapper')
            if (all_divs.length == 2) {
                let second_last_element = all_divs[0]
                second_last_element.insertAdjacentHTML('beforeend', create_span_element(true))
                let last_element = all_divs[1]
                last_element.remove()

            }

            else if (all_divs.length > 2) {
                let second_last_element = all_divs[all_divs.length - 2]
                second_last_element.insertAdjacentHTML('beforeend', create_span_element(false))
                let last_element = all_divs[all_divs.length - 1]
                last_element.remove()


            }

        }
    </script>
    <!-- javascript for form dynamism ends  -->
</body>

</html>