{% extends "base.html" %}

{% block content %}

<style>
  .icons {
    cursor: pointer;

  }
</style>
<div class="container">

  <form method="post" enctype="multipart/form-data" class="mt-4">
    <h3>Field for RTE Provided Excel File</h3>
    <!--start of field to check whether it is group coursework or not -->

    <div class="form-check mt-4">
      <input class="form-check-input" type="checkbox" value="True" id="defaultCheck1" name="is_group_coursework">
      <label class="form-check-label" for="defaultCheck1">
        <b class="fw-lighter">Is Group CourseWork</b>
      </label>
    </div>

    <div class="row mt-4">
      <div class="col-4">
        <label for="excel_file" class="form-label">Select Excel File Provided by RTE</label>
        <div>
          <input type="file" name="excel_file" id="excel_file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        </div>
      </div>

      <div class="col-4">
        <label for="sheetname" class="form-label">Sheet Name</label>
        <input type="text" class="form-control primary-input" id="sheetname" placeholder="Sheet Name"
          name="final_sheet_name" required>
      </div>

    </div>
    <!--end of field to check whether it is group coursework or not -->

    <div class="row mt-4">

      <div class="col-4">
        <label for="startdepth" class="form-label">Sheet Start Depth</label>
        <input type="text" class="form-control primary-input" id="startdepth" placeholder="Sheet Start Depth"
          name="start_depth" required>
      </div>
      <div class="col-4">
        <label for="enddepth" class="form-label">Sheet End Depth</label>
        <input type="text" class="form-control primary-input" id="enddepth" placeholder="Sheet Start Depth"
          name="end_depth" required>
      </div>
    </div>



    <div class="row mt-4">
      <div class="col-4">
        <label for="column_start_range" class="form-label">Column Start Range</label>
        <input type="text" class="form-control primary-input" id="column_start_range"
          placeholder="Column Start Range Eg: A, B" name="col_start_range" required>
      </div>

      <div class="col-4">
        <label for="column_end_range" class="form-label">Column End Range</label>
        <input type="text" class="form-control primary-input" id="column_end_range"
          placeholder="Column End Range Eg: A, B" name="col_end_range" required>
      </div>
    </div>


    <div class="row mt-4">
      <div class="col-4">
        <label for="student_id_column" class="form-label">Student Id Column</label>
        <input type="text" class="form-control primary-input" id="student_id_column"
          placeholder="Column End Range Eg: A, B" name="student_col" value="b" required>
      </div>

    </div>


    <h3 class="mt-4">Field for All Student Folder Section </h3>

    <div class="row mt-4">
      <div class="col-4">
        <label for="student_folder_path" class="form-label">Student Folder Path</label>
        <input type="text" class="form-control primary-input" id="student_folder_path" placeholder="Provide Folder Path"
          name="student_folder" required>
      </div>
      <div class="col-4">
        <label for="student_sheet_name" class="form-label">Student Sheet Name</label>
        <input type="text" class="form-control primary-input" id="student_sheet_name"
          placeholder="Provide Excel Sheet Name" name="student_sheet_name" required>
      </div>

    </div>


    <!-- student sheet column information start -->
    <h5 class="mt-4">Insert Student Marks cell range Information</h5>

    <div class="row mt-4 key-vals-wrapper">
      <div class="col-4">
        <input type="text" class="form-control primary-input" placeholder="Start Row Range" name="start_cell"
          id="student_start_cell" required>
      </div>

      <div class="col-4">
        <input type="text" class="form-control primary-input" placeholder="End Row Range" name="end_cell"
          id="student_end_cell" required>
      </div>

    </div>



    <!-- student sheet column information end -->



    <!-- student marks dictonary from start -->
    <div>
      <button type="button" id="generate_marks_dict" class="btn btn-info mt-4 mb-4 w-60">
        Marks Mapper</button>
    </div>


    <div id="student_marks_dict">

      <div class="form-group" id="keyvals">

      </div>

    </div>
    <!-- student marks dictonary from end -->


    <button type="submit" id="submit" class="btn btn-lg btn-info mb-4 mt-2 w-40 d-none">Submit</button>
  </form>



  <script>
    const gerateMarksDict = document.querySelector("#generate_marks_dict")
    const url = 'http://127.0.0.1:5000/create_marks_dictonary'

    const extract_all_values_to_get_dictonary_pair = () => {
      const formData = new FormData();
      const inputValues = {
        excelFile: document.querySelector('#excel_file').files[0],
        sheetName: document.querySelector('#sheetname').value,
        colStartRange: document.querySelector('#column_start_range').value,
        colEndRange: document.querySelector('#column_end_range').value,
        studentFolderName: document.querySelector('#student_folder_path').value,
        studentMarkStartCell: document.querySelector('#student_start_cell').value,
        studentMarkEndCell: document.querySelector('#student_end_cell').value,
        studentSheetName: document.querySelector('#student_sheet_name').value,
        startDepth: document.querySelector('#startdepth').value
      }

      for (const key in inputValues) {
        if (inputValues.hasOwnProperty(key)) {
          formData.append(key, inputValues[key]);
        }
      }
      return formData

    }


    const add_heading_after_generating_marks_dict = (studentMarksDict) => {
      const headerId = 'marksheading'
      if (document.getElementById(headerId) == null) {

        const mainHeader = `<h5 class="mt-4" id="marksheading">Student Marks Cell Information</h5>`
        let tempContainer = document.createElement('div')
        tempContainer.innerHTML = mainHeader

        studentMarksDict.insertBefore(tempContainer, studentMarksDict.firstChild)

      }

    }

    const add_marks_mapping_from_student_and_rte_sheet = (marksobj) => {
      console.log("marksobj", marksobj)
      for (let key in marksobj) {
        addField(key, marksobj[key])

      }

    }

    gerateMarksDict.addEventListener('click', () => {
      console.log("clicked on generate")
      const studentMarksDict = document.querySelector("#student_marks_dict")
      const mainSubmitBtn = document.querySelector('#submit')
      const bootstrapToast = document.querySelector('.toast')
      console.log(bootstrapToast)

      fetch(url, {
        method: 'POST',
        body: extract_all_values_to_get_dictonary_pair()
      })
        .then(response => response.json())
        .then((responseJson) => {
          add_heading_after_generating_marks_dict(studentMarksDict)
          console.log("response json result", responseJson.result)
          console.log("response json error", responseJson.iserror)
          if (!responseJson.iserror) {
            add_marks_mapping_from_student_and_rte_sheet(JSON.parse(responseJson.result))
            gerateMarksDict.classList.add('d-none')
            mainSubmitBtn.classList.remove('d-none')
          }
          else {
            console.log("inside error message")
            const toast = new bootstrap.Toast(bootstrapToast)
            const toastBody = document.querySelector('.toast-body')
            toastBody.innerHTML=''
            toastBody.innerHTML=responseJson.result
            toast.show()

          }

          console.log("responseJson", responseJson)
        })
        .catch((err) => {
          const toast = new bootstrap.Toast(bootstrapToast)
          toast.show()

        })

    })



  </script>

  <!-- javascript for form dynamism  start-->
  <script>
    let parentContaier = document.querySelector("#keyvals")


    function create_new_div(length, key, cellvalue) {
      return `
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Column Name" name="key${length + 1}" value="${key}" required>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Cell no." name="value${length + 1}" value="${cellvalue}" required>
        </div>
      <span class="mt-2 ml-4 d-flex icons col-2 gap-3">
          <i class="fa-sharp fa-solid fa-plus" onclick="addField()"></i>
          <i class="fa-solid fa-xmark ml-3" onclick="removeFiled()"></i> 
      </span>
      `
    }

    function create_span_element(oneLeft) {
      if (oneLeft) {
        return `<span class="mt-2 ml-4 d-flex icons">
              <i class="fa-sharp fa-solid fa-plus" onclick="addField()"></i>
              </span>
      `
      }
      else {
        return `<span class="mt-2 ml-4 d-flex icons">
              <i class="fa-sharp fa-solid fa-plus" onclick="addField()"></i>
              <i class="fa-solid fa-xmark ml-3" onclick="removeFiled()"></i> 
              </span>
      `
      }
    }


    // logic of function that adds the element
    function addField(key = null, cellval = null) {
      console.log("inside addField function")
      let all_divs = parentContaier.getElementsByClassName('key-vals-wrapper')
      // remove the span element from the before adding a new one
      let last_element = all_divs[all_divs.length - 1]
      console.log("key is",key)
      console.log("cell value is",cellval)

      if (all_divs.length != 0) {
        let span_tag = last_element.getElementsByTagName('span')[0]
        span_tag.remove()
      }
      console.log("last_element", last_element)
      let new_element = document.createElement("div")
      new_element.classList.add("key-vals-wrapper", "row", "mt-4")
      new_element.innerHTML = create_new_div(all_divs.length, key, cellval)
      parentContaier.appendChild(new_element)

    }
    // logic of function that adds the element

    function removeFiled() {
      let all_divs = parentContaier.getElementsByClassName('key-vals-wrapper')
      if (all_divs.length == 2) {
        let second_last_element = all_divs[0]
        second_last_element.insertAdjacentHTML('beforeend', create_span_element(true))
        let last_element = all_divs[1]
        last_element.remove()

      }

      else if (all_divs.length > 2) {
        let second_last_element = all_divs[all_divs.length - 2]
        second_last_element.insertAdjacentHTML('beforeend', create_span_element(false))
        let last_element = all_divs[all_divs.length - 1]
        last_element.remove()


      }

    }
  </script>
  <!-- javascript for form dynamism  ends-->


</div>
{% endblock content %}